@model IEnumerable<MQTTDashboard.Models.Device>

@{
    ViewData["Title"] = "DeviceList";
}

<h2>DeviceList</h2>

<p>
  
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DeviceId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeviceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeviceLocation)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceLocation)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditDevice",new { DeviceId = item.DeviceId, DeviceName = item.DeviceName, DeviceLocation = item.DeviceLocation })) |
             
          
            </td>
        </tr>
}
    </tbody>
</table>
